.main {
    margin-top: 120px;
    padding: 13.4rem 0;
}
body {
    height: auto;;
}

.box-findpw {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 315px;
    background-color: white;
    margin: auto;
    border: 1px solid rgb(229,229,229)
}

.box-findpw h1{
    font-family: 'LINESeedKR-Bd';
    text-align: center;
    padding-top: 15px;
}

.box-findpw h4 {
    text-align: center;
    padding-top: 10px;
}

.box-findpw form {
    font-family: 'SUIT-Medium';
    width: 300px;
    margin-left: 20px;
}

.box-findpw form input {
    height: 2.5rem;
    width: 100%;
    padding: 7px;
    margin-top: 20px;
    border: none;
    border: 1px solid #999;
    outline: none;
}

.box-findpw form button[type="submit"] {
    font-family: 'SUIT-Medium';
    width: 300px;
    height: 45px;
    margin-top: 20px;
    color: black;
    font-size: 18px;
    cursor: pointer;
}

p{
    text-align: center;
    padding-top: 30px;
    padding-right: 15px;
    font-size: 15px;
    color: gray;
}

.p1 a {
    color: rgb(40,86,128);
    margin-left: 10px;
    font-weight: 1000;
}